*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.item {
  width: 200px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item img {
  width: 150px;
}

.list-page {
  text-align: center;
}

.list-container {
  width: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
}

.list-container * {
  text-decoration: none;
}

.detail {
  width: 700px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detail img {
  width: 500px;
}

.header {
  text-align: center;
  border: 1px solid green;
  border-radius: 20px;
  margin-top: 10px;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
}

.sign-in-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-in-page h2 {
  margin: 20px;
}

.sign-in-form {
  border: 1px black solid;
  border-radius: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.sign-in-form label {
  margin: 10px;
}

.sign-in-form button {
  margin: 10px;
  width: 200px;
}